
body {
    background-color: rgb(33, 33, 33);
    height: 100vh; 
  }
  .left-nav li{
    margin: 40px;
    display: flex;
    align-items: center;
    color: aliceblue;
  }

  .img{
    margin-right: 10px;
  }

  .small-box {
    width: 920px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 350px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }
  
  .boxone{
    width: 275px;
    height: 275px;
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: rgb(0, 0, 0);
  }

  .boxtwo{
    width: 275px;
    height: 275px;
    position: absolute;
    top: 50px;
    left: 325px;
    background-color: rgb(0, 0, 0);
  }

  .boxthree{
    width: 275px;
    height: 275px;
    position: absolute;
    top: 50px;
    left: 620px;
    background-color: rgb(0, 0, 0);
  }

  .sec-box {
    width: 920px;
    height: 325px;
    position: absolute;
    top: 600px;
    left: 350px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }
  
  .secboxone{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 275px;
    background-color: rgb(0, 0, 0);
  }

  .secboxtwo{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 180px;
    left: 275px;
    background-color: rgb(0, 0, 0);
  }

  .secboxthree{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 600px;
    background-color: rgb(0, 0, 0);
  }

  .secboxfour{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 180px;
    left: 600px;
    background-color: rgb(0, 0, 0);
  }

  .sectextone{
    position: absolute;
    top: 35px;
    right: 90px;
    font-weight: bold;
    font-size: 30px;
  }

  .sectexttwo{
    position: absolute;
    top: 35px;
    right: 90px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(12, 222, 250);
  }

  .sectextthree{
    position: absolute;
    top: 35px;
    right: 90px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(251, 243, 1);
  }

  .sectextfour{
    position: absolute;
    top: 35px;
    right: 90px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(250, 12, 234);
  }

  .last-box {
    width: 920px;
    height: 150px;
    position: absolute;
    top: 975px;
    left: 350px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }

  .lstboxone{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 300px;
    background-color: rgb(0, 0, 0);
  }

  .lstboxtwo{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 500px;
    background-color: rgb(0, 0, 0);
  }

  .lstboxthree{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 700px;
    background-color: rgb(0, 0, 0);
  }

  .lsttextone{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
  }

  .lsttexttwo{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(12, 222, 250);
  }

  .lsttextthree{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(251, 243, 1);
  }

  .color-container {
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .blue,
  .yellow {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .blue {
    width: 75%;
    background-color:rgb(12, 222, 250);
  }
  
  .yellow {
    width: 25%;
    right: 0;
    background-color: rgb(251, 243, 1);
  }