
body {
    background-color: rgb(33, 33, 33);
    height: 100vh; 
  }
 
  .sec-box1 {
    width: 920px;
    height: 325px;
    position: absolute;
    top: 250px;
    left: 350px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }
  
  .secboxone1{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 275px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .secboxtwo1{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .secboxthree1{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 525px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .secboxfour1{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 275px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .secboxfive1{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .secboxsix{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 525px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .sectextone1{
    position: absolute;
    top: 15px;
    right: 25px;
    font-weight: bold;
    font-size: 15px;
  }

  .sectexttwo1{
    position: absolute;
    top: 15px;
    right: 25px;
    font-weight: bold;
    font-size: 15px;
  }

  .sectextthree1{
    position: absolute;
    top: 15px;
    right: 25px;
    font-weight: bold;
    font-size: 15px;
  }

  .sectextfour1{
    position: absolute;
    top: 20px;
    right: 40px;
    font-weight: bold;
    font-size: 15px;
  }

  .sectextfive1{
    position: absolute;
    top: 20px;
    right: 40px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(251, 243, 1);;
  }

  .sectextsix{
    position: absolute;
    top: 20px;
    right: 40px;
    font-weight: bold;
    font-size: 15px;
  }

  .last-box {
    width: 920px;
    height: 150px;
    position: absolute;
    top: 975px;
    left: 350px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }

  .lstboxone{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .lstboxtwo{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .lstboxthree{
    width: 175px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 700px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
  }

  .lsttextone{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
  }

  .lsttexttwo{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(12, 222, 250);
  }

  .lsttextthree{
    position: absolute;
    top: 20px;
    right: 65px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(251, 243, 1);
  }

  .right-bar {
    width: 230px;
    height: 600px;
    position: absolute;
    top: 200px;
    left: 1280px;
    background-color: rgb(71, 71, 71);
    color: aliceblue;
  }

  .first-text{
    margin: 20px;
  }

  .rgtboxone{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 17px;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-radius: 15px;
  }

  .dwn-text{
    position: absolute;
    top: 975px;
    left: 1310px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

.stdone1{
  width: 600px;
  height: 75px;
  position: absolute;
  top: 150px;
  left: 350px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}

.std-one1{
  position: absolute;
  top: 25px;
  left: 50px;
  font-size: 20px;
  color: aliceblue;
}

.pinkbed{
  position: absolute;
  top: 15px;
  left: 12px;
}

.tissue{
  position: absolute;
  top: 10px;
  left: 12px;
}

.cooker{
  position: absolute;
  top: 10px;
  left: 12px;
}

.secbox4{
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 10px;
}