body {
    background-color: black;
    height: 100vh; 
  }
  .top-bar {
    background-color: rgb(71, 71, 71);
    height: 80px; 
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 1000; 
  }
  .image-container {
    padding: 30px 0PX;
    width: 100%;
    z-index: 1500;
    position: absolute;
    background-color: rgb(71, 71, 71);
    display: flex;
  }
  .image-container img{
    position: relative;
    left: 25px;
  }
  .image-container .box{
    display: flex;
    position: relative;
    left: 150px;
  }
  .left-bar {
    background-color: rgb(71, 71, 71);
    height: 900px; 
    width: 250px;
    position: fixed; 
    top: 150px;
    left: 10px;
    z-index: 1000; 
  }
  .nav-list {
    display: flex;
  }
  .nav-list li{
    margin-left: 50px;
    color: aliceblue;
  }
  .calendar{
    width: 30px;
  height: 30px;
  }
  .notification{
    width: 30px;
  height: 30px;
  }
  .profile{
    width: 30px;
  height: 30px;
  }